@tailwind base;
@tailwind components;
@tailwind utilities;



input[type=range] {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  background: linear-gradient(to right, rgb(36, 30, 81), rgb(73, 51, 107), rgb(140, 109, 146));
  outline: none;
  opacity: 0.9;

}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px; 
  height: 18px; 
  background: #03e2ff; 
  cursor: pointer; 
  border-radius: 2px; 
}

input[type=range]::-moz-range-thumb {
  width: 18px; 
  height: 18px;
  background: #55ecf1; 
  cursor: pointer; 
 
}
